# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
*.env

# Virtual environments
venv/
.env/
.venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# Google credentials
*.json

# macOS
.DS_Store

# Docker
*.tar
